@media screen and (min-width: 1500px) {

    /* head section*/

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 45px;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 1px;
        color: rgb(190, 190, 190);
        text-decoration: none;
        width: 180px;
    }

    .logo>i:nth-child(1)>img {
        width: 30px;
    }

    .logo>span:nth-child(2) {
        color: #000000;
        font-weight: 400;
        font-size: 2.2rem;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu>a {
        position: relative;
        color: #000000;
        padding: 5px 22px;
        list-style: none;
        text-decoration: none;
        font-size: 1rem;
        transition: all 0.3s linear;
        margin-right: 10px;
    }

    /* underline animation for nav links */

    ul.my-list a::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0px;
        height: 2px;
        background: #96ff16;
        transition: all 0.7s ease-out;
    }

    /* underline animation for nav links */

    ul.my-list a:hover:after {
        width: 100%;
        left: 0;
    }

    #btn {
        background-color: transparent;
        border: 1px solid #191A23;
        padding: 17px 14px;
        border-radius: 10px;
        font-size: 1rem;
        transition: all 0.2s linear;
        cursor: pointer;
    }

    #btn:hover {
        background-color: #191A23;
        color: #ffffff;
    }

    /* hamburger icons */
    .hamburger {
        display: none;
    }

    .bar {
        display: block;
        width: 25px;
        height: 2px;
        margin: 5px auto;
        -webkit-transition: all 1s ease-out;
        transition: all 0.3s ease-out;
        background-color: #000000;
    }

    /* hamburger icons */
    /* head section end*/

    /* main secion start */
    /* section one */

    .section1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 120px 80px;
    }


    .s1-child {
        display: flex;
        flex-direction: column;
        gap: 50px 0px;
    }

    .s1-heading {
        width: 450px;
    }

    .s1-heading>h1 {
        font-size: 3.3rem;
        font-weight: 500;
    }

    .s1-paragraph {
        width: 450px;
    }

    .s1-paragraph>p {
        font-size: 1.15rem;
    }

    .s1-img>img {
        width: 440px;
        cursor: pointer;
    }

    .s1-button {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 250px;
        height: 9vh;
    }

    .s1-button>button {
        background-color: #191A23;
        color: #ffffff;
        padding: 16px 18px;
        border: none;
        border-radius: 10px;
        font-size: 1.1rem;
        font-family: 'Courier New', Courier, monospace;
        cursor: pointer;
    }

    .s1-button>button:active {
        padding: 16px 16px;
        transform: translateY(1px);

    }

    .section2 {
        display: flex;
        justify-content: space-between;
        padding: 70px 50px;
    }

    .section2>span {
        cursor: pointer;
    }

    .section3 {
        display: flex;
        align-items: center;
        gap: 0px 50px;
        padding: 80px 50px;
    }

    .section3>div:nth-child(1)>h1 {
        background-color: #B9FF66;
        padding: 0px 19px;
        font-size: 2.3rem;
        font-weight: 500;
    }

    .section3>div:nth-child(2)>p {
        font-size: 1rem;
        width: 52%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .section4 {
        display: flex;
        justify-content: space-between;
        padding: 80px 50px;
    }

    .s4-card {
        display: flex;
        justify-content: space-between;
        border: 1px solid #191A23;
        border-bottom: 8px solid #191A23;
        width: 600px;
        height: 310px;
        border-radius: 45px;
        padding: 50px;
    }

    .s4-card1 {
        background-color: #F3F3F3;
    }

    #c1-info-head {
        width: max-content;
        font-size: 1.8rem;
        font-weight: 500;
        background-color: #B9FF66;
        border-radius: 7px;
        padding: 0px 8px;
    }

    .c1-info-learn_more {
        display: flex;
        align-items: center;
        gap: 0px 15px;
        padding: 90px 0px;
    }

    .c1-info-learn_more>i {
        cursor: pointer;
    }

    .c1-info-learn_more>h1:last-child {
        font-weight: 500;
        cursor: pointer;
    }

    .s4-card2 {
        background-color: #B9FF66;
    }

    #c2-info-head {
        width: max-content;
        font-size: 1.8rem;
        font-weight: 500;
        background-color: #ffffff;
        border-radius: 7px;
        padding: 0px 8px;
    }

    .c-info-img {
        align-content: center;
        cursor: pointer;
    }

    .section5 {
        display: flex;
        align-items: center;
        gap: 0px 50px;
        padding: 80px 50px;
    }

    .section5>div:nth-child(1)>h1 {
        background-color: #B9FF66;
        padding: 0px 19px;
        font-size: 2.3rem;
        font-weight: 500;
    }

    .section5>div:nth-child(2)>p {
        font-size: 1rem;
        width: 65%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@media screen and (max-width: 1024px) {

    /* head section*/

    nav {
        padding: 28px 26px;
    }

    .logo {
        letter-spacing: 1px;
        width: 140px;
    }

    .logo>i>img:nth-child(1) {
        width: 25px;
    }

    .logo>span:nth-child(2) {
        font-size: 1.6rem;
    }

    .nav-menu>a {
        padding: 5px 12px;
        font-size: 0.9rem;
    }

    #btn {
        padding: 14px 12px;
        font-size: 0.8rem;
    }

    /* head section end*/

    .section1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 160px 80px;
    }

    .s1-child {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }

    .s1-heading {
        width: 400px;
    }

    .s1-heading>h1 {
        font-size: 2.8rem;
        font-weight: 500;
    }

    .s1-paragraph {
        width: 315px;
    }

    .s1-paragraph>p {
        font-size: 0.9rem;
    }

    .s1-img>img {
        width: 350px;
    }

    .s1-button {
        display: flex;
        justify-content: left;
        align-content: center;
        width: 210px;
        height: 10vh;
    }

    .s1-button>button {
        padding: 16px 16px;
        font-size: 1rem;
    }

    .section2 {
        display: flex;
        justify-content: space-between;
        padding: 50px 50px;
    }

    .section2>span>img {
        width: 90px;
    }


    .section3 {
        display: flex;
        align-items: center;
        gap: 0px 30px;
        padding: 60px 50px;
    }

    .section3>div:nth-child(1)>h1 {
        padding: 0px 12px;
        font-size: 1.7rem;
        font-weight: 500;
    }

    .section3>div:nth-child(2)>p {
        font-size: 0.9rem;
        width: 64%;
    }

    .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 10px;
        gap: 30px 0px;
    }

    .s4-card {
        display: flex;
        justify-content: space-between;
        width: 750px;
        height: 250px;
        padding: 40px;
    }

    #c1-info-head {
        width: max-content;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 7px;
        padding: 0px 8px;
    }

    .c1-info-learn_more {
        display: flex;
        align-items: center;
        gap: 0px 10px;
        padding: 70px 0px;
    }

    .c1-info-learn_more>i>img {
        cursor: pointer;
        width: 40px;
    }

    .c1-info-learn_more>h1:last-child {
        font-weight: 500;
        cursor: pointer;
        font-size: 1.2rem;
    }

    #c2-info-head {
        width: max-content;
        font-size: 1.5rem;
        font-weight: 500;
        border-radius: 7px;
        padding: 0px 8px;
    }

    .c-info-img {
        align-content: center;
    }

    .c-info-img>img {
        width: 180px;
    }

    .section5 {
        display: flex;
        align-items: center;
        gap: 0px 30px;
        padding: 80px 30px;
    }

    .section5>div:nth-child(1)>h1 {
        padding: 0px 19px;
        font-size: 1.7rem;
        font-weight: 500;
    }

    .section5>div:nth-child(2)>p {
        font-size: 0.9rem;
        width: 65%;
    }
}

@media screen and (max-width: 768px) {

    /* head section */

    nav {
        display: flex;
        align-items: center;
    }

    .nav-menu {
        position: fixed;
        left: 0;
        display: none;
        top: 4rem;
        flex-direction: column;
        width: 100%;
        padding-bottom: 15px;
    }

    .logo {
        letter-spacing: 1px;
        width: 122px;
    }

    .logo>i>img:nth-child(1) {
        width: 22px;
    }

    .logo>span:nth-child(2) {
        font-size: 1.4rem;
    }

    .nav-menu {
        background-color: #B9FF66;
    }

    .nav-menu.active {
        left: 0;
        display: flex;
    }

    .nav-menu>a {
        padding: 18px 0px;
        font-size: 1rem;
        letter-spacing: 1px;
    }


    ul.my-list a:after {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* head section end  */
    .section1 {
        flex-direction: column;
        padding: 140px 20px;
    }

    .s1-child {
        gap: 30px;
    }

    .s1-heading {
        width: 100%;
    }

    .s1-heading>h1 {
        font-size: 2.8rem;
        width: 60%;
    }

    .s1-paragraph>p {
        width: 400px;
        font-size: 1rem;
    }

    .s1-img {
        width: 350px;
        padding-top: 60px;
    }

    .s1-img>img {
        width: 100%;
    }

    .s1-button {
        display: flex;
        justify-content: left;
        align-content: center;
        width: 210px;
        height: 10vh;
    }

    .s1-button>button {
        padding: 16px 16px;
        font-size: 1rem;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        padding: 50px 0px;
        gap: 30px 0px;
        margin-top: -100px;
        width: 100%;
    }

    .section2>span>img {
        width: 80px;
    }


    .section3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px 0px;
        padding: 60px 0px;
        text-align: center;
    }

    .section3>div:nth-child(1)>h1 {
        padding: 0px 12px;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .section3>div:nth-child(2) {
        width: 78%;
    }

    .section3>div:nth-child(2)>p {
        font-size: 0.9rem;
        width: 100%;
    }

    .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 30px;
        gap: 30px 0px;
    }

    .s4-card {
        display: flex;
        justify-content: space-between;
        width: 490px;
        height: 250px;
        padding: 40px 30px;
    }

    #c1-info-head {
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0px 8px;
    }

    .c1-info-learn_more {
        display: flex;
        align-items: center;
        gap: 0px 10px;
        padding: 80px 0px;
    }

    .c1-info-learn_more>i>img {
        width: 30px;
    }

    .c1-info-learn_more>h1:last-child {
        font-weight: 500;
        font-size: 1rem;
    }

    #c2-info-head {
        font-size: 1.3rem;
        font-weight: 500;
        padding: 0px 8px;
    }

    .c-info-img>img {
        width: 150px;
    }

    .section5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px 0px;
        padding: 50px 30px;
    }

    .section5>div:nth-child(1)>h1 {
        padding: 0px 12px;
        font-size: 1.7rem;
        font-weight: 500;
    }

    .section5>div:nth-child(2) {
        width: 70%;
    }

    .section5>div:nth-child(2)>p {
        font-size: 1rem;
        font-weight: 100;
        width: 100%;
        text-align: center;
    }

    .section6 {
        gap: 20px 0px;
    }
    
    .s6-g_box-green {
        width: 92%;
        padding: 10px 40px;
    }
    
    .g_box {
        padding-bottom: 30px;
        padding-top: 20px;
    }
    
    .num-heading {
        gap: 0px 10px;
    }
    
    .num-heading>h1 {
        font-size: 2rem;
    }
    
    .num-heading>h2 {
        font-size: 1.1rem;
    }
    
    .g_box-sub {
        width: 45px;
        height: 45px;
    }
    
    
    .g_box-sub>div:first-child{
        height: 3px;
    }
    
    .g_box-graph {
        font-size: 0.8rem;
        padding: 15px 0px;
    }
    
    .s6-g_box-gray{
        padding: 15px 40px;
    }
    
    .g_box-sub>.plus{
        height: 3px;
    }

}

@media screen and (max-width: 550px) {

    /* head section end  */
    .section1 {
        flex-direction: column;
        padding: 170px 20px;
    }

    .s1-child {
        gap: 30px;
    }

    .s1-heading {
        width: 100%;
    }

    .s1-heading>h1 {
        font-size: 2rem;
        width: 60%;
    }

    .s1-paragraph>p {
        width: 360px;
        font-size: 0.8rem;
    }

    .s1-img {
        width: 320px;
        padding-top: 100px;
    }

    .s1-img>img {
        width: 100%;
    }

    .s1-button {
        display: flex;
        justify-content: left;
        align-content: center;
        width: 250px;
        height: 9vh;
    }

    .s1-button>button:active {
        transform: translateY(0px);
    }

    .s1-button>button {
        padding: 10px 50px;
        border-radius: 10px;
        font-size: 0.8rem;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        padding: 70px 40px;
        gap: 50px 0px;
        margin-top: -60px;
        width: 100%;
    }

    .section2>span>img {
        width: 70px;
    }

    .section3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px 0px;
        padding: 50px 0px;
    }

    .section3>div:nth-child(1)>h1 {
        padding: 0px 14px;
        letter-spacing: 1px;
        font-size: 1.5rem;
    }

    .section3>div:nth-child(2) {
        width: 80%;
    }

    .section3>div:nth-child(2)>p {
        font-size: 0.8rem;
        width: 100%;
    }

    .section4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 30px;
        gap: 30px 0px;
    }

    .s4-card {
        display: flex;
        justify-content: space-between;
        border: 1px solid #191A23;
        border-bottom: 8px solid #191A23;
        width: 400px;
        height: 200px;
        padding: 40px 30px;
    }

    #c1-info-head {
        width: max-content;
        font-size: 1.1rem;
    }

    .c1-info-learn_more {
        display: flex;
        align-items: center;
        gap: 0px 5px;
        padding: 50px 0px;
    }

    .c1-info-learn_more>i>img {
        width: 25px;
    }

    .c1-info-learn_more>h1:last-child {
        font-weight: 500;
        cursor: pointer;
        font-size: 0.9rem;
    }

    #c2-info-head {
        font-size: 1.3rem;
        padding: 0px 8px;
    }

    .c-info-img {
        align-content: center;
    }

    .c-info-img>img {
        width: 130px;
    }

    .section5 {
        gap: 15px 0px;
        padding: 30px 30px;
    }

    .section5>div:nth-child(1)>h1 {
        padding: 0px 12px;
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    .section5>div:nth-child(2) {
        width: 80%;
    }

    .section5>div:nth-child(2)>p {
        font-size: 0.9rem;
        font-weight: 100;
    }

    .section6 {
        gap: 20px 0px;
    }
    
    .s6-g_box-green {
        width: 92%;
        padding: 10px 40px;
    }
    
    .g_box {
        padding-bottom: 30px;
        padding-top: 20px;
    }
    
    .num-heading {
        gap: 0px 10px;
    }
    
    .num-heading>h1 {
        font-size: 1.8rem;
    }
    
    .num-heading>h2 {
        font-size: 1rem;
    }
    
    .g_box-sub {
        width: 40px;
        height: 40px;
    }
    
    
    .g_box-sub>div:first-child{
        height: 2px;
        width: 15px;
    }
    
    .g_box-graph {
        font-size: 0.7rem;
        padding: 15px 0px;
    }
    
    .s6-g_box-gray{
        padding: 15px 40px;
    }
    
    .g_box-sub>.plus{
        height: 2px;
        width: 15px;
    }

}

@media screen and (max-width: 425px) {

    .logo {
        width: 105px;
    }

    .logo>i>img:nth-child(1) {
        width: 18px;
    }

    .logo>span:nth-child(2) {
        font-size: 1.2rem;
    }

    .bar {
        display: block;
        width: 22px;
        height: 2px;
    }

    .nav-menu>a {
        padding: 10px 0px;
        font-size: 0.9rem;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* head section end  */
    .section1 {
        flex-direction: column;
        padding: 170px 20px;
    }

    .s1-child {
        gap: 15px;
    }

    .s1-heading {
        width: 100%;
    }

    .s1-heading>h1 {
        font-size: 1.7rem;
        width: 68%;
    }

    .s1-paragraph>p {
        width: 280px;
        font-size: 0.7rem;
    }

    .s1-img {
        width: 280px;
        padding-top: 140px;
    }

    .s1-img>img {
        width: 100%;
    }

    .s1-button {
        display: flex;
        justify-content: left;
        align-content: center;
        width: 200px;
        height: 8vh;
        margin-top: 10px;
    }

    .s1-button>button {
        padding: 10px 15px;
        font-size: 0.7rem;
    }

    .section2 {
        display: grid;
        grid-template-columns: auto auto;
        padding: 70px 60px;
        gap: 60px 0px;
        margin-top: -100px;
        width: 100%;
    }

    .section2>span>img {
        width: 90px;
    }

    .section3 {
        gap: 15px 0px;
        padding: 50px 0px;
    }

    .section3>div:nth-child(1)>h1 {
        padding: 0px 14px;
        letter-spacing: 1px;
        font-size: 1.2rem;
    }

    .section3>div:nth-child(2) {
        width: 80%;
    }

    .section3>div:nth-child(2)>p {
        font-size: 0.7rem;
        width: 100%;
    }

    .section4 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 50px 30px;
        gap: 30px 0px;
    }

    .s4-card {
        display: flex;
        justify-content: space-between;
        width: 280px;
        height: 220px;
        padding: 25px 30px;
    }

    .s4-card2 {
        position: relative;
        z-index: 0;
    }

    #c1-info-head {
        display: none;
    }

    .c1-info-learn_more {
        display: flex;
        align-items: center;
        gap: 0px 5px;
        padding: 100px 0px;
    }

    .c1-info-learn_more>i>img {
        width: 25px;
    }

    .c1-info-learn_more>h1:last-child {
        display: none;
    }

    #img-none{
        display: none;
    }

    #c2-info-head {
        font-size: 1rem;
        padding: 0px 9px;
    }

    .s4-card1{
        height: 260;
        border: none;
    }

    .c1-info-425{
        display: flex;
        flex-direction: column;
        gap: 15px 0px;
    }

    .c1-info-425>h1{
        font-size: 1.4rem;
        font-weight: 500;
    }

    .c1-info-425>p{
        font-size: 0.83rem;
    }

    .c1-info-425>button{
        border: none;
        background-color: #191A23;
        color: #ffffff;
        padding: 16px 0px;
        border-radius: 10px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.9rem;
    }

    .c-info-img {
        align-content: center;
        width: 0%;
        position: absolute;
        top: 60;
        left: 110;
    }

    .c-info-img>img {
        width: 130px;
        margin-top: 20px;
        margin-right: 50px;
    }

    .c-1>img{
        display: none;
    }

    .section5 {
        gap: 10px 0px;
        padding: 30px 30px;
    }

    .section5>div:nth-child(1)>h1 {
        padding: 0px 8px;
        font-size: 1rem;
        letter-spacing: 1px;
    }

    .section5>div:nth-child(2) {
        width: 90%;
    }

    .section5>div:nth-child(2)>p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 375px) {

    
}


@media screen and (max-width: 320px) {

    nav{
        padding: 30px 20px;
    }

    /* head section end  */
    .section1 {
        flex-direction: column;
        padding: 190px 0px;
        padding-left: 30px;
    }


    .s1-heading {
        width: 80%;
    }

    .s1-heading>h1 {
        font-size: 1.7rem;
        width: 100%;
    }

    .s1-paragraph>p {
        width: 280px;
        font-size: 0.7rem;
    }

    .s1-img {
        width: 250px;
    }

    .s1-img>img {
        width: 100%;
    }


    .section2 {
        display: grid;
        grid-template-columns: auto auto;
        padding: 70px 40px;
        gap: 40px 0px;
    }

    .section2>span>img {
        width: 80px;
    }

}