* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    width: 100%;
}

/* head section*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
    color: rgb(190, 190, 190);
    text-decoration: none;
    width: 170px;
}

.logo>i:nth-child(1)>img {
    width: 28px;
}

.logo>span:nth-child(2) {
    color: #000000;
    font-weight: 400;
    font-size: 2rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu>a {
    position: relative;
    color: #000000;
    padding: 5px 22px;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s linear;
    margin-right: 10px;
}

/* underline animation for nav links */

ul.my-list a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0px;
    height: 2px;
    background: #96ff16;
    transition: all 0.7s ease-out;
}

/* underline animation for nav links */

ul.my-list a:hover:after {
    width: 100%;
    left: 0;
}

#btn {
    background-color: transparent;
    border: 1px solid #191A23;
    padding: 17px 14px;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.2s linear;
    cursor: pointer;
}

#btn:hover {
    background-color: #191A23;
    color: #ffffff;
}

/* hamburger icons */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 1s ease-out;
    transition: all 0.3s ease-out;
    background-color: #000000;
}

/* hamburger icons */
/* head section end*/

/* main secion start */
/* section one */

.section1 {
    display: flex;
    justify-content: space-between;
    padding: 180px 80px;
}


.s1-child {
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
}

.s1-heading {
    width: 60%;
}

.s1-heading>h1 {
    font-size: 3rem;
    font-weight: 500;
}

.s1-paragraph {
    width: 70%;
}

.s1-paragraph>p {
    font-size: 1.15rem;
}

.s1-img>img {
    width: 440px;
    cursor: pointer;
}

.s1-button {
    display: flex;
    height: 9vh;
}

.s1-button>button {
    background-color: #191A23;
    color: #ffffff;
    padding: 16px 18px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.s1-button>button:active {
    transform: translateY(1px);
    background-color: #2a2c38;

}

.section2 {
    display: flex;
    justify-content: space-between;
    padding: 70px 50px;
}

.section2>span {
    cursor: pointer;
}

.section3 {
    display: flex;
    align-items: center;
    gap: 0px 50px;
    padding: 80px 50px;
}

.section3>div:nth-child(1)>h1 {
    background-color: #B9FF66;
    padding: 0px 19px;
    font-size: 2.3rem;
    font-weight: 500;
}

.section3>div:nth-child(2)>p {
    font-size: 1rem;
    width: 52%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section4 {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px;
}

.s4-card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #191A23;
    border-bottom: 8px solid #191A23;
    width: 550px;
    height: 310px;
    border-radius: 45px;
    padding: 50px 50px;
}

.s4-card1 {
    background-color: #F3F3F3;
}

#c1-info-head {
    width: max-content;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #B9FF66;
    border-radius: 7px;
    padding: 0px 8px;
}

.c1-info-425 {
    display: none;
}

.c1-info-learn_more {
    display: flex;
    align-items: center;
    gap: 0px 15px;
    padding: 90px 0px;
}

.c1-info-learn_more>i {
    cursor: pointer;
}

.c1-info-learn_more>i>img{
    width: 32px;
}

.c1-info-learn_more>h1:last-child {
    font-weight: 500;
    cursor: pointer;
    font-size: 1.2rem;
}

.s4-card2 {
    background-color: #B9FF66;
}

#c2-info-head {
    width: max-content;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 0px 8px;
}

.c-info-img {
    align-content: center;
    cursor: pointer;
}

.c-info-img>img{
    width: 180px;
}

.section5 {
    display: flex;
    align-items: center;
    gap: 0px 50px;
    padding: 80px 50px;
}

.section5>div:nth-child(1)>h1 {
    background-color: #B9FF66;
    padding: 0px 19px;
    font-size: 2.3rem;
    font-weight: 500;
}

.section5>div:nth-child(2)>p {
    font-size: 1rem;
    width: 65%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 0px;
}

.s6-g_box-green {
    background-color: #B9FF66;
    width: 92%;
    border: 1px solid #191A23;
    border-bottom: 6px solid #191A23;
    border-radius: 45px;
    padding: 15px 40px;
}

.g_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.num-heading {
    display: flex;
    align-items: center;
    gap: 0px 10px;
}

.num-heading>h1 {
    font-weight: 500;
    font-size: 2.8rem;
}

.num-heading>h2 {
    font-weight: 500;
    font-size: 1.5rem;
}

.g_box-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border: 1px solid #191A23;
    border-radius: 50px;
    background-color: #F3F3F3;
    position: relative;
}


.g_box-sub>div:first-child {
    width: 17.76px;
    height: 4px;
    background-color: #000000;
}

.g_box-graph {
    border-top: 1px solid #191A23;
    font-size: 1rem;
    padding: 25px 0px;
}

.s6-g_box-gray {
    background-color: #F3F3F3;
    width: 92%;
    border: 1px solid #191A23;
    border-bottom: 6px solid #191A23;
    border-radius: 45px;
    padding: 15px 40px;
}

.g_box-sub>.plus {
    position: absolute;
    width: 17.76px;
    height: 4px;
    background-color: #000000;
    transform: rotate(90deg);
}

.g_box-sub>.plus1 {
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: #000000;
    transform: rotate(90deg);
    display: none;
}

.section7 {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.section7>form {
    position: relative;
    width: 85%;
    background-color: #F3F3F3;
    border-radius: 30px;
}

.form-details {
    display: flex;
    flex-direction: column;
    padding: 60px 70px;
}

.sec7-form-radio>input[type="radio"] {
    accent-color: #96ff16;
    border: 1px solid #191A23;
    margin-right: 5px;
    margin-left: 10px;
}

.sec7-inp-fields {
    display: flex;
    flex-direction: column;
}

.sec7-inp-fields>label {
    margin-top: 30px;
    margin-bottom: 5px;
}

.sec7-inp-fields>input {
    width: 50%;
    height: 8vh;
    border-radius: 10px;
    outline: none;
    border: 1px solid #191A23;
    padding-left: 20px;
    font-size: 1rem;
}

.sec7-inp-fields>textarea {
    width: 50%;
    height: 28vh;
    border-radius: 10px;
    outline: none;
    border: 1px solid #191A23;
    font-size: 1rem;
    padding: 0px 20px;
    padding-top: 20px;
    resize: none;
}


.sec7-inp-fields>.button>button {
    background-color: #191A23;
    color: #ffffff;
    padding: 18px 130px;
    margin-top: 30px;
    border-radius: 10px;
    font-size: 1rem;
}

.sec7-img {
    position: absolute;
    top: 40;
    right: 310;
    width: 0px;
}

.sec7-img>img {
    width: 580px;
}


footer {
    background-color: #191A23;
    color: #ffffff;
    padding: 0px 50px;
    padding-top: 70px;
    margin-top: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
}

.foo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.foo-nav_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foo-nav_logo>i:nth-child(1)>img {
    width: 100%;
}

.foo-nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foo-nav_menu>a {
    position: relative;
    color: #ffffff;
    padding: 5px 16px;
    list-style: none;
    text-decoration: underline;
    font-size: 1rem;
}


.foo-nav-i-box {
    display: flex;
    align-items: center;
    gap: 0px 20px;
}

.foo-nav-i-box>i {
    width: 30px;
    height: 30px;
}

.foo-contect_subscribe {
    display: flex;
    justify-content: space-between;
    padding: 150px 0px;
}

.foo-contect-sec {
    display: flex;
    flex-direction: column;
    gap: 18px 0px;
}

.foo-contect-sec>h1 {
    background-color: #B9FF66;
    color: #191A23;
    padding: 3px 15px;
    font-size: 1.5rem;
    font-weight: 600;
    width: max-content;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.foo-contect-sec>h2{
    font-size: 1.2rem;
    font-weight: 300;
}

.foo-subs-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292A32;
    width: 470px;
    height: 184px;
    gap: 0px 15px;
    border-radius: 15px;
}

.foo-subs-sec>input{
    width: 200px;
    height: 67px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-color: transparent;
    font-size: 1rem;
    padding-left: 20px;
    color: #ffffff;
    outline: none;
}

.foo-subs-sec>input::placeholder{
    color: #ffffff;
}

.foo-subs-sec>button{
    width: 200px;
    height: 68px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.foo-nav-i-box2{
    display: none;
}